altgraph==0.17.5
bitarray==3.8.0
bitstring==4.3.1
blinker==1.9.0
certifi==2025.1.31
cffi==2.0.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==46.0.3
esptool==5.1.0
Flask==3.1.0
idna==3.10
intelhex==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpremote==1.27.0
packaging==26.2
pefile==2024.8.26
pillow==12.3.0
platformdirs==4.5.1
pycparser==3.0
Pygments==2.19.2
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pypdf==6.14.2
pyserial==3.5
pywin32-ctypes==0.2.3
PyYAML==6.0.3
reedsolo==1.7.0
requests==2.32.3
rich==14.3.1
rich-click==1.9.6
setuptools==82.0.1
urllib3==2.3.0
Werkzeug==3.1.3
